.request-buttons {
    margin-bottom: 10px;
    margin-left: -7px;
}

.asksos-button {
    background-color: #fafafa;
    outline: none;
    border: 1px solid #e8e8e8;
    padding: 7px;
    color: #595959;
}

.asksos-button:hover {
    cursor: pointer;
    background-color: #f3f3f3;
}

.asksos-button.post {

}

.asksos-button.remove {
    margin-left: -2px;
}
span.asksos-action-icon {
    position: absolute;
    cursor: pointer;
    color: black;
    width:40px;
    text-align:center;
    opacity: 0.4;
}
span.asksos-action-icon:hover {
    opacity: 0.95;
}


span.repost {
    left: -38px;

}
span.save {
    left: -68px;
}

div#dragbar {
    background-color:transparent;
    height:100%;
    float: right;
    width: 2px;
    cursor: col-resize;
}

.button-placeholder {
    background-color: #c0c0c0;
    height: 28px;
    width: 2px;
    display: inline-block;
    vertical-align: middle;
}


.button-container {
    display: inline-block;
    padding: 2px 6px 2px 4px;
}

.ui-sortable-helper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f6f6f6;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateZ(-2deg);
}
.button-container:hover {
    cursor: move;
}
